{% include 'top.html.twig' %}
<h1>Success!  That store has been removed!</h1>
<h3><a href="/all_brands">See all Brands</a></h3>
<h3><a href="/all_stores">See all Stores</a></h3>
{% include 'bottom.html.twig' %}
